/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2E2F42;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

ul, ol {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Typography */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.first-section {
    background-color: #E7E9FC;
}

/* Buttons */
button {
    background-color: #4D5AE5;
    color: white;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px 0 0 0;
    cursor: pointer;
}

button:hover {
    background-color: #404BBF;
}

.second-section {
    background-color: #FFFFFF;
    text-align: center;
}

.second-section h2 {
    display: none;
}

/* Team section styles */
.team {
    background-color: #E7E9FC;
}

.team ul li {
    position: relative;
    text-align: center;
    padding-bottom: 32px;
    border-radius: 0 0 4px 4px;
    box-shadow:
            0 2px 1px 0 #2E2F4214,
            0 1px 1px 0 #2E2F4229,
            0 1px 6px 0 #2E2F4214;
}

.team img {
    width: 264px;
    height: 260px;
}

.portfolio {
    text-align: center;
    background-color: #FFFFFF;
}

.portfolio li {
    width: 360px;
    height: 420px;
    border: 1px solid #E7E9FC;
}

.portfolio img {
    width: 360px;
    height: 300px;
}

/* Footer */
footer {
    text-align: left;
    padding: 20px;
    background-color: #2E2F42;
    color: #FFFFFF;
}

footer a {
    color: #F4F4FD;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.logo {
    color: #F4F4FD;
}

.logo span {
    color: #4D5AE5;
}
